certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.9
iniconfig==2.0.0
natsort==8.4.0
numpy==2.1.1
packaging==24.1
pluggy==1.5.0
pycparser==2.22
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
pytaglib==3.0.0
pytest==8.3.3
python-dotenv==1.0.1
requests==2.32.3
shiboken6==6.7.2
soundfile==0.12.1
soxr==0.5.0.post1
urllib3==2.2.3
